<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<script type="text/javascript">

    window.onload=function (ev) {
        $("#getDiFirewallList").click(function () {
            $.ajax({
                url : "http://localhost:8081/di/di/external_getAllDiFirewalls.htm",
                type : 'get',
                dataType : 'json',
                async: true,

                success:function(result){
                    alert(result)
                }});
        })
        $("#downloadReport").click(function () {

            window.location.href = "http://localhost:8081/di/di/external_downloadReport.htm?policySetId=5&analyseType=0"

        })

    }

</script>
<body>



    <div>
        <button type="button" id="getDiFirewallList">查询防火墙</button>

        <ul id="diFirewallList">
            <li>防火墙1</li>
            <li>防火墙2</li>
        </ul>
    </div>

    <div style="margin-top: 50px">
        <input id="policyFile" type="file">
    </div>



    <div style="margin-top: 50px">
        <button style="" id="downloadReport">下载报表</button>
    </div>
</body>
</html>